@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
* {
    font-family: 'Inter';
    padding: 0;
    margin: 0;
}

:root {
    --bege1: #FEEFDE;
    --bege2: #C89633;
    --laranja: #EAAC3D;
    --branco: #ffffff;
    --verde-escuro: #067655;
    --verde-claro: #0CB07F;
    --fecomercio1: #C89633;
    --fecomercio2: #004B8D;
}

/* Titulo */
.title {
    color: var(--verde-escuro);
    font-weight: bold;
}

/* input - email | senha */
.input {
    height: 48px;
    border-radius: 8px;
}

Button {
    width: 100%;
    height: 48px !important;
    border-radius: 8px !important;
}
/* botão login */
.button {
    background-color: var(--verde-escuro);
}
.button:hover {
    background-color: var(--verde-claro)!important;
}

/* botão cadastro */
.button-cadastro, .button-login {
    color: #727272;
    border: 1px solid #BFBFBF;
    background-color: white;
}
.button-cadastro:hover, .button-login:hover {
    background-color: #E4E4E4;
}

/* esqueci minha senha */
.a-senha {
    cursor: pointer;
    color: #303030;
    text-decoration: none;
}
.a-senha:hover {
    color: #303030;
    text-decoration:underline;
}

@media (max-width: 540px) {
    .card {
        padding: 1rem 0 !important;
    }
}
